<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <img src="/images/dinosaur.gif"></div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <nav>
            <ul>
                <li><a href="/page2/{{menu.[0].item}}">{{menu.[0].item}}</a></li>
                <li><a href="/page2/{{menu.[1].item}}">{{menu.[1].item}}</a></li>
                <li><a href="/page2/{{menu.[2].item}}">{{menu.[2].item}}</a></li>

            </ul>
        </nav>

    </div>

    <div class="col-md-4"></div>
</div>
