body{
background-color: #E6F8B2;
}

.headbg{
background-color: #CDE77F;
}

h1{
font-family: 'Comfortaa', cursive;
text-align: center;
color: white;
}

h3,h4, h5{
font-family: 'Nunito Sans', sans-serif;
color:#704E2E;
}

.hint{
color: gray;
}

.pic{
margin-right:30px;
}

#mainForm{
    background-color: white;
    width: 370px;
    margin: 0 auto;
    padding: 20px;
}

#mainRes{
    background-color: white;
    width: 570px;
    margin: 0 auto;
    padding: 20px;
}