<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h1 class="formHeader2">Data Entry Records</h1>
    </div>
</div>

<div id="mainRes">

    {{#if dbresponse}} 
    {{#all dbresponse}}

    <div class="container box">
        <div class="row labelbox">
     
          <h2 class="labelT">{{Food}}</h2>
          <h2 class="labelT">{{LocationA}}</h2>
          <h2 class="labelT">{{LocationB}}</h2>
          <h2 class="labelT">{{Rate}}</h2>
          
        </div>
    </div>
    {{/all}} 
    {{/if}}

</div>