.box{
background-color:white;
border-style: solid;
border-color:#9ab890;
margin-bottom: 20px;
border-radius: 24px;
margin-top:20px;
}

.new{
color: white;
text-decoration:none;
}


.option{
color:white;
font-size:20px;
}

.optionmove{
margin-top: 8px;
}

.labelT {
    font-family: "Roboto Slab";
    color: white;
    margin-top: 8px;
    margin-left: 80px;
}

.labelbox{
background-color:#9ab890;
height: 50px;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
}

.data{
background-color:#7B9A70;
padding-top:10px;
margin-bottom: 30px;
}

.formHeader{
color:white;
text-align: center;
font-weight:300;
}

.formHeader2{
color:white;
text-align: center;
font-weight:300;
background-color:#7B9A70;
        margin-top: 0px;
    height: 60px;
    padding-top: 10px;
}

.createtext{
font-size: 30px;
text-align: center;
color:gray;
}

.displaytext {
 border: none;
  background: #9ab890;
  background-image: -webkit-linear-gradient(top, #9ab890, #7b9a70);
  background-image: -moz-linear-gradient(top, #9ab890, #7b9a70);
  background-image: -ms-linear-gradient(top, #9ab890, #7b9a70);
  background-image: -o-linear-gradient(top, #9ab890, #7b9a70);
  background-image: linear-gradient(to bottom, #9ab890, #7b9a70);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.displaytext a{
color:white;
}
.displaytext a:hover{
text-decoration: none;
}

.displaytext:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}




#mainRes{
margin-left:60px;
}

.displayitems{
font-size: 20px;
color:black;
}


.choose1{
margin-left:0px;
margin-top:5px;
margin-bottom: 5px;
}

.submit {
  margin-left: 20px;
  background: #B3CC8C;
  background-image: -webkit-linear-gradient(top, #B3CC8C, #88B048);
  background-image: -moz-linear-gradient(top, #B3CC8C, #88B048);
  background-image: -ms-linear-gradient(top, #B3CC8C, #88B048);
  background-image: -o-linear-gradient(top, #B3CC8C, #88B048);
  background-image: linear-gradient(to bottom, #B3CC8C, #88B048);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #fff;
  font-size: 16px;
  padding: 6px 15px 6px 15px;
  text-decoration: none;
    border: 0px solid transparent;
}

.submit:hover {
    color: #fff;
  background: #7CA045;
  background-image: -webkit-linear-gradient(top, #7CA045, #577130);
  background-image: -moz-linear-gradient(top, #7CA045, #577130);
  background-image: -ms-linear-gradient(top, #7CA045, #577130);
  background-image: -o-linear-gradient(top, #7CA045, #577130);
  background-image: linear-gradient(to bottom, #7CA045, #577130);
  text-decoration: none;
    border: 0px solid transparent;
}
